body {
    background: #fff;
    color: #555;
  }
  logo-area img{
      height:auto;
      width:90px;
  }
.call-to-action-box .action-style-box {
  background: #0c797e;
  padding: 30px;
}
.btn-primary {
    background: #0095ff;
}
.subscribe {
    background: #0c797e;
    padding: 0;
}
.copyright{
  background: #0c797e;
}
.header-one, .header-one .site-navigation {
    background: #3f5cad;
}
.dark-bg {
    background: #1f4546;
    color: #fff;
  }
  .moreText{
    display: none;
  }
  .read-more-btn{
    padding:2px 6px;
    background-color:none;
    color:red;
    border:none;
    outline:none;
    font-size:12px;
    cursor:pointer;
  }
  .text-.shoe-more .moreText{
    display: inline;;
  }
  .text.show-more .dots{
    display:none;
  }
  .ts-service-box-info:not(:last-child){
    margin-bottom: 20px;;
  }
  .hide{
    display: none;
  }


  .login-container{
    margin-top: 0%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 0%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 img{
  height: 480px;
  width: 100%;
  opacity: .5;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
